<section class="relative w-full min-h-screen overflow-hidden bg-orange-500" #aboutSection [@fadeInUp]>
    <div id="particles-about" class="absolute inset-0 z-0"></div>
    <div class="relative z-10 flex flex-col items-center justify-center text-white px-6 min-h-screen text-center">
        <h1 class=" text-6xl font-bold sm:text-6xl md:text-7xl lg:text-8xl ">Who I Am</h1>
        <div class="max-w-3xl mx-auto">
            <h2 class="text-xl sm:text-2xl font-semibold leading-relaxed sm:leading-relaxed mt-4 sm:mt-6 ">
                I'm a software developer with a degree in Computer Science and Engineering.
                I began with Node.js, focusing on server-side work and building APIs.
                Now, I'm learning Angular to become a full-stack developer.
            </h2>

            <div class="mt-6 sm:mt-8">
                <h2 class="text-lg sm:text-xl leading-relaxed sm:leading-relaxed ">
                    I'm eager to learn, enjoy working in creative settings, and love solving problems.
                    I'm ready to collaborate on exciting projects.
                </h2>
            </div>

            <p class="font-bold text-lg mt-6 italic ">
                "Code is more than just logic; it's the art of turning ideas into reality."
            </p>

            <a href="mailto:selvarajpersonal24@gmail.com"
                class="animate-bounce px-8 py-3 mt-6 text-lg font-bold rounded-full shadow-xl cursor-pointer transition-all duration-500 transform hover:scale-105 hover:shadow-2xl bg-white text-black">
                Let's Connect 🚀
            </a>
        </div>
    </div>
</section>