<div class="relative w-full h-screen">
    <div id="particles-js" class="absolute top-0 left-0 w-full h-full bg-orange-500"></div>
    <div class="relative flex h-full w-full items-center justify-center px-6 text-white flex-col">
        <h1 class="font-extrabold text-6xl mb-4">Who I Am</h1>
        <div class="max-w-6xl text-center ">
            <h2 class="text-2xl font-semibold leading-relaxed">
                I'm a software developer with a degree in Computer Science and Engineering.
                I began with Node.js, focusing on server-side work and building APIs.
                Now, I'm learning Angular to become a full-stack developer.
            </h2>
            <div class="mt-6">
                <h2 class="text-xl leading-relaxed">
                    I'm eager to learn, enjoy working in creative settings, and love solving problems.
                    I'm ready to collaborate on exciting projects.
                </h2>
            </div>
            <p class="font-bold text-lg mt-6 italic">
                "Code is more than just logic; it's the art of turning ideas into reality."
            </p>
            <br>
            <button
                class="px-8 py-3 mt-6 text-lg font-bold  rounded-full shadow-lg cursor-pointer transition-all duration-500 bg-white text-black hover:shadow-2xl">
                Let's Connect 🚀
            </button>
        </div>
    </div>
</div>