<div class="flex flex-col main-container relative  py-12 items-center justify-around text-blue-500">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-6xl font-bold sm:text-6xl md:text-7xl lg:text-8xl mb-5">My
            Arsenal</h2>
        <p class="text-lg md:text-xl text-center mb-12 text-gray-700">
            I build dynamic, high-performance websites using the MEAN stack (Angular, Node.js, Express.js) and MongoDB,
            with
            Tailwind CSS for responsive designs, creating seamless, intuitive, and maintainable user experiences with
            precision.
        </p>
    </div>

    <!-- <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 px-8 w-4/5">
        @for (visible of visibleIcons(); let i = $index; track i) {
        <div class="bg-white rounded-xl shadow-lg overflow-hidden transition-all duration-300 transform hover:scale-105 aspect-square"
            [ngClass]="{
        'translate-x-0 opacity-100': visible,
        '-translate-x-full opacity-0': !visible
      }">
            <div class="h-3/4 flex items-center justify-center bg-gray-50">
                <img [src]="skills[i].icon" [alt]="skills[i].name" class="w-16 h-16 object-contain" />
            </div>
            <div class="border-t border-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-sm font-semibold text-gray-800">{{ skills[i].name }}</h3>
            </div>
        </div>
        }
    </div> -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 px-8 w-4/5">
        @for (visible of visibleIcons(); let i = $index; track i) {
        <div class="bg-white rounded-xl shadow-lg overflow-hidden transition-all duration-500 transform hover:scale-105 aspect-square"
            [ngClass]="{
                    'translate-x-0 opacity-100 rotate-enter': visible,
                    '-translate-x-full opacity-0': !visible
                }">
            <div class="h-3/4 flex items-center justify-center bg-gray-50">
                <img [src]="skills[i].icon" [alt]="skills[i].name" class="w-16 h-16 object-contain" />
            </div>
            <div class="border-t border-gray-300"></div>
            <div class="h-1/4 flex items-center justify-center">
                <h3 class="text-sm font-semibold text-gray-800">{{ skills[i].name }}</h3>
            </div>
        </div>
        }
    </div>

</div>