<div class="h-screen flex flex-col">

  <div class=" sticky top-0 z-50 ">
    <app-nav-bar></app-nav-bar>
  </div>
  <div #scrollContainer class="flex-1 overflow-y-auto scroll-smooth overflow-x-hidden" (scroll)="onContainerScroll()">
    <section id="home" #sectionRef aria-label="Home Section"><app-home></app-home></section>
    <section id="about" #sectionRef aria-label="About Me Section"><app-about-me></app-about-me></section>
    <section id="skills" #sectionRef aria-label="Skills Section"><app-skills></app-skills></section>
    <section id="exp" #sectionRef aria-label="Experiance Section"><app-exp></app-exp></section>
    <section id="projects" #sectionRef aria-label="Projects Section"><app-projects></app-projects></section>
    <div class="bg-blue-500 text-white text-center py-4 mt-10">
      <p class="text-sm">&copy; 2025 - Selvaraj Dev | <a href="#projects"
          class="underline hover:text-gray-200">Projects</a>
        |
        <a href="#home" class="underline hover:text-gray-200">Contact</a>
      </p>
    </div>

  </div>
</div>