<div class="flex h-full w-full">
    <div class="w-1/2 h-full flex justify-center items-center">
        <div class="ml-20 space-y-4 h-100 text-orange-500">
            <h1 class="font-extrabold text-6xl ">
                HELLO EVERYONE
            </h1>
            <h2 class="text-3xl font-semibold ">I AM SELVARAJ</h2>
            <h2 class="text-2xl font-semibold ">I AM <span #typedText> </span></h2>
            <p class="text-xl font-medium">
                A Full Stack Developer specializing in Angular, passionate about building sleek, high performance web
                applications.
            </p>
            <button
                class="w-36 h-12 flex items-center justify-center gap-2 cursor-pointer shadow-md border-2 border-orange-500 text-gray-800 font-bold rounded-full hover:bg-orange-500 hover:text-white hover:scale-105 transition-transfor">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                </svg>
                My CV
            </button>



        </div>
    </div>
    <div class="w-1/2 p-4 flex items-end justify-center" style="height: 95%;">
        <img src="./selva.png" alt="my image" class="ml-30">
    </div>
</div>