.floating {
    animation: floatXY 4s ease-in-out infinite;
}

@keyframes floatXY {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, -5px);
    }

    50% {
        transform: translate(-5px, -5px);
    }

    75% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}